extends layout

block content
  // Section 1 début Texte confirmation inscription
  section.sectioninscription
    p Vos mises à jour vont rapidement être prises en compte.
    a(href="/botilicious" class="btn gris") Retour à l'accueil
  // Section 1 Fin Texte confirmation inscription
