extends layout

block content
  // Section 1 début Texte confirmation inscription
  section.sectioninscription
    p Vos informations vont rapidement être prises en compte.
    p Merci de votre visite et à bientôt
    a(href="/login" class="btn jaune btconnect") Se connecter
  // Section 1 Fin Texte confirmation insscription
