extends layout

block content
  section.secgris
    h1 Vous êtes bien déconnecté. 
    br
    p Si vous souhaitez poursuivre votre navigation sur Botilicious, cliquez sur le bouton de reconnexion suivant :
      br
      a(href="/connexion"  class="btn orange") Reconnexion
    br
    img.gifww(src='https://media.giphy.com/media/12FLhMHdanoLJK/giphy.gif', alt="Homer Simpson")
