extends layout

block content
  // Section 1 début Texte d'accueil
  section.secgris
    p Oups ! Il n'y a rien sur cette page
    a(href="/" class="btn orange") Retour à l'accueil
  // Section 1 Fin Texte d'accueil

  // h2= error.status
  // pre #{error.stack}


// block content
  h1= message
  h2= error.status
  pre #{error.stack}
