footer
  p.footer1
    | Rajouter les 2 boutons pour les Mentions légales et pour Nous contacter
    // a(href="/" class="btn orange") Mentions légales
    // a(href="/" class="btn gris") Nous contacter
  p.footer2
    | Proudly made with ❤️ in Paris - © 
    a(href='https://wildcodeschool.fr/')
      //- img.bologo(src='/images/lebeaulogodelawcs.png', alt='Le beau logo de la Wild Code School') - 2017
