footer
  p.footer1
    a(href="/" class="btn gris footer") Mentions légales
    a(href="/" class="btn gris footer") Nous contacter
  p.footer2
    | Proudly made with ❤️ in Paris - © 
    // a(href='https://wildcodeschool.fr/')
    //img.bologo(src='/images/lebeaulogodelawcs.png', alt='Le beau logo de la Wild Code School') - 2017
