footer
  p.footer1
    a(href="http://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32016L0680&from=FR", target='_blank', class="btn jaune footer") Mentions légales
    a(href="/contact" class="btn jaune footer") Nous contacter
  p.footer2
    | Made with code and care in Paris, France - ©  
    a(href='https://wildcodeschool.fr/' target='_blank')
      img.bologo(src='/images/lebeaulogodelawcs.png', alt='Le beau logo de la Wild Code School') 
    |  + 
    a.lienfoot1(href='https://github.com/codingk8' target='_blank') Codingk8,
    |
    a.lienfoot1(href='https://github.com/FabWild' target='_blank') FabWild,
    |
    a.lienfoot2(href='https://github.com/gregstone' target='_blank') Gregstone
    | &
    a.lienfoot2(href='https://github.com/Hotsockets' target='_blank') Hotsockets
    |  - 2017
