doctype html
//- Head début
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
  title Botilicious
  meta(name='description', content='Les chatbots irresistibles que vous clients réclament')
  //- Le lien vers le favicon
  link(rel='icon', type='image/png', href='./images/faviconbotilicius.png')
  link(rel='shortcut icon', type='image/x-icon', href='./images/faviconbotilicius.ico')
  //- Lien vers Bootstrap
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  //- Lien vers la feuille de style
  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  //- Mettre les polices ici si Google fonts
  link(href='https://fonts.googleapis.com/css?family=Sniglet:400,800&amp;subset=latin-ext' rel='stylesheet')
  //- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  //- WARNING: Respond.js doesn't work if you view the page via file://
  //-if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
//- Head fin


body

  include header

  .container-fluid
    block content

  include footer
  script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  //- script(type="text/javascript" src="/javascripts/js.js")
  script(src='https://www.google.com/recaptcha/api.js')
  block javascript
