div.modme
    a(href="/" class="btn jaune menu") Retour à l'accueil
    a(href="/admin/chatbotEdit" class="btn gris menu") Entraînement du bot
    a(href="/admin/module" class="btn gris menu") Modules
    a(href="/admin/chatbot" class="btn gris menu") Gestion Chatbots


