a(href="/" class="btn jaune") Retour à l'accueil
a(href="/admin/chatbot" class="btn gris") Gestion Chatbots
a(href="/admin/module" class="btn gris") Modules
a(href="/admin/chatbotEdit" class="btn orange") Entraînement du bot
