extends layout

block content
  // Section début Mot de passe oublié
  section.secgris
    p Ceci est la page Mot de passe oublié
    p Ici il y aura des choses à rajouter pour le renvoi d'un mot de passe
    a(href="/" class="btn orange") Me connecter
    br
    img.gifww(src='https://media.giphy.com/media/xTkcEC4MLKDR1c8uuA/giphy.gif', alt='Gif animé de Wonderwoman')
  // Section fin Mot de passe oublié