extends ../layout

block content
  //- Section début Le formulaire de login
  
  section.sectionform
    .containerform
      form#form(method="POST")
        if error
          p.warning=error[0]
        .form-group
          label(for='identifiant') Identifiant
          input#email.form-control(type='email', required='', placeholder="Identifiant" name="email")
        if error
          p.warning=error[1]
        .form-group
          label(for='motdepasse') Mot de passe
          input#motdepasse.form-control(type='password', required='', placeholder='Mot de passe' name="motdepasse")
        button.btn.jaune(type='submit') Se connecter
  section.oubli
    p Nouveau sur Botilicious ?
    a(href="/inscription" class="btn orange") Créer un compte
    hr
    p Pour réinitialiser votre mot de passe, cliquez sur le bouton ci-dessous
    a(href="/forgottenpw" class="btn orange") Réinitialiser
    
  //- Section fin Le formulaire de login
