/* Botilicious project - CSS file */

/* 201801 New font
font-family: 'Sniglet', cursive; */

/* Colours
Pale pink: #f7cdb7
Camel: #d6a072
Brown: #5f4548 */

/* @font-face {
    font-family: 'alwynregular';
    src: url('fonts/alwyn_regular-webfont.eot');
    src: url('fonts/alwyn_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/alwyn_regular-webfont.woff2') format('woff2'), url('fonts/alwyn_regular-webfont.woff') format('woff'), url('fonts/alwyn_regular-webfont.ttf') format('truetype'), url('fonts/alwyn_regular-webfont.svg#alwynregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alwynbold';
    src: url('fonts/alwyn_bold-webfont.eot');
    src: url('fonts/alwyn_bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/alwyn_bold-webfont.woff2') format('woff2'), url('fonts/alwyn_bold-webfont.woff') format('woff'), url('fonts/alwyn_bold-webfont.ttf') format('truetype'), url('fonts/alwyn_bold-webfont.svg#alwynbold') format('svg');
    font-weight: normal;
    font-style: normal;
} */

body {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Sniglet', cursive;
    background-color: white;
}

h2 {
    font-weight: normal;
    color: #5f4548;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

th {
    font-weight: normal;
    text-decoration-line: underline;
    text-align: center;
}

label {
    font-weight: normal;
}

.slogan {
    font-weight: bold;
    font-size: 0.7em;
    color: #5f4548;
}

.gris {
    font-size: 1em;
    background-color: #5f4548;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

header {
    text-align: center;
    font-size: 2em;
}

.logo {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textconnect {
    text-align: center;
    color: #d6a072;
}

.btconnect {
    margin-left: 10px;
}

.sectioninscription {
    text-align: center;
    font-size: 1.2em;
    background-color: #f7cdb7;
    padding: 50px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 15px;
}

.required {
    text-align: center;
    color: #d6a072;
}

#form {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    margin-left: 25%;
}

.secgris {
    text-align: center;
    color: #f7cdb7;
    font-size: 1em;
    background-color: #5f4548;
    padding: 20px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.chatwindow, .tagwindow, .listkeywords, .containerform, .modulesList {
  color: #5f4548;
  font-size: 1em;
  text-align: left;
  background-color: #d6a072;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding : 20px;
  margin-top: 20px;
}

.sentencewindow, .edittags, .editkeywords, .editParameters, .moduleEdit {
    color: #5f4548;
    font-size: 1em;
    text-align: left;
    background-color: #f7cdb7;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding : 20px;
    margin-top: 20px;
  }

.oubli {
    text-align: center;
    color: #f7cdb7;
    font-size: 1em;
    background-color: #5f4548;
    padding: 50px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 15px;
    width: 50%;
    margin-left: 25%;
}

.wilders {
    text-align: center;
    font-size: 1.5em;
    padding: 50px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#s3 {
    text-align: center;
    font-size: 1.5em;
    padding: 50px;
}

.jaune {
    font-size: 1em;
    color: #5f4548;
    background-color: #f7cdb7;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #FFFAF0;
}

.orange {
    font-size: 1em;
    color: #5f4548;
    background-color: #d6a072;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #f1f1f1;
}

.menu {
    margin-right: 5px;
    margin-left: 5px;
}

.modme {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bologo {
    width: 80px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 1px;
}

footer {
/*     display: flex;
    align-items: center;
    justify-content: center; */
    background-image: url(../images/footerimage200.jpg);
/*    background-color: #f7cdb7; */
    height: 150px;
    color: white;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 14px;
    margin-right: 14px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* .footer1 {
    margin-left: 30px;
} */

.footer {
    margin-right: 15px;
    margin-left: 15px;
}

.lienfoot1 {
    margin-left: 5px;
}

.lienfoot2 {
    margin-left: 5px;
    margin-right: 5px;
}

/* Beginning Footer links behavior */
a.lienfoot1, a.lienfoot2 {
    color: #d6a072;
    text-decoration: underline;
  }
  
  a.lienfoot1:hover, a.lienfoot2:hover {
    color: #f7cdb7;
    text-decoration: none;
  }
  /* End Footer links behavior */


/* Coming soon: media queries, 2 device sizes, pour remettre le formulaire en largeur 100% */
