/* Ce fichier est le fichier css du projet IAforall - Botilicious */


/* font-family: 'Source Sans Pro', sans-serif; */


/* @font-face {
  font-family: 'alwynregular';
  src: url('Fonts/alwyn_regular-webfont.eot');
  src: url('Fonts/alwyn_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Fonts/alwyn_regular-webfont.woff2') format('woff2'),
       url('Fonts/alwyn_regular-webfont.woff') format('woff'),
       url('Fonts/alwyn_regular-webfont.ttf') format('truetype'),
       url('Fonts/alwyn_regular-webfont.svg#alwynregular') format('svg');
  font-weight: normal;
  font-style: normal;
} */


/* @font-face {
  font-family: 'alwynbold';
  src: url('Fonts/alwyn_bold-webfont.eot');
  src: url('Fonts/alwyn_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('Fonts/alwyn_bold-webfont.woff2') format('woff2'),
       url('Fonts/alwyn_bold-webfont.woff') format('woff'),
       url('Fonts/alwyn_bold-webfont.ttf') format('truetype'),
       url('Fonts/alwyn_bold-webfont.svg#alwynbold') format('svg');
  font-weight: normal;
  font-style: normal;
} */

body {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fffaf0;
}

.gris {
    font-size: 1em;
    background-color: #696969;
    padding: 15px;
    border-radius: 15px;
    color: #fffaf0;
}

header {
    text-align: center;
    font-size: 2em;
}

.logo {
    width: 200px;
    border-radius: 5px;
}

.textconnect {
    text-align: center;
    color: #FFD700;
    font-weight: bold;
}

.btconnect {
    margin-left: 10px;
}

.sectioninscription {
    text-align: center;
    font-size: 1.2em;
    background-color: #FFA500;
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.required {
    text-align: center;
    color: #FFA500;
    font-weight: bold;
}

#form {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    margin-left: 25%;
}

.secgris {
    text-align: center;
    color: #fffaf0;
    font-size: 1.5em;
    background-color: #696969;
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.oubli {
    text-align: center;
    color: #FFFAF0;
    font-size: 1.2em;
    background-color: #696969;
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 50%;
    margin-left: 25%;
}

.wilders {
    text-align: center;
    font-size: 1.5em;
    padding: 50px;
    border-radius: 15px;
    height: 150px;
}

#s3 {
    text-align: center;
    font-size: 1.5em;
    padding: 50px;
}

.jaune {
    font-size: 1em;
    color: #696969;
    background-color: #FFD700;
    padding: 15px;
    border-radius: 15px;
    color: #FFFAF0;
}

.orange {
    font-size: 1em;
    color: #696969;
    background-color: #FFA500;
    padding: 15px;
    border-radius: 15px;
    color: #f1f1f1;
}

.bologo {
    width: 80px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD700;
    height: 150px;
    color: #FFFAF0;
    border-radius: 15px;
    margin-left: 14px;
    margin-right: 14px;
}

.footer {
    margin-right: 30px;
}


/* Mettre des media queries pour l'affichage sur devices avec 2 formats différents, pour remettre le formulaire en largeur 100% */
