extends ../layout

block content
  include ../menu
  section.sectionform
    h2 Nouveau Chatbot
    .containerform
      form#form(method="POST")
        if servermessage
          p.warning= servermessage
        .form-group
          label(for='name') Nom du chatbot
          input#chatbot.form-control(required='', placeholder="Nom du chatbot" name="name")
        button#addchatbot(type='submit') Créer le chatbot
      div#serverMessageChatbot

  section.chatbotsList
    //- table#chatbots(style="width:800px;border:1px solid black")
    table#chatbots
      tr
        th Nom
        th id
        th Action
      each chatbot in chatbots
        tr(id='chatbot' +chatbot.id)
          td(id='chatbottext' +chatbot.id)= chatbot.name
          td= chatbot.id
          td
            button(id='deletechatbot' +chatbot.id) Supprimer
  script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(type='text/javascript', src='/js/chatbot.js')
